.app-container {
  font-family: Arial, sans-serif;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.cow-inventory-container,
.form-container {
  width: 45%;
}

.cow-inventory ul {
  list-style-type: none;
  padding: 0;
}

.cow-inventory li {
  cursor: pointer;
  margin-bottom: 10px;
}

.add-cow-form label {
  display: block;
  margin-bottom: 10px;
}
