.app-container {
  font-family: Arial, sans-serif;
}

.main-content {
  display: flex;
  justify-content: space-between;
}
/* Header.css */

header {
  text-align: center; 
  padding: 20px;      
  background-color: #f0f0f0; 
  position: fixed;    /* Fix the header at the top of the page */
  top: 0;             
  width: 100%;        
  z-index: 1000;
}      

header h1 {
  margin: 0;          /* Remove default margin */
  font-size: 2rem;    /* Adjust the font size */
  color: #333;        /* Text color for better visibility */
}


.cow-inventory-container,
.form-container {
  width: 45%;
}

.cow-inventory ul {
  list-style-type: none;
  padding: 0;
}

.cow-inventory li {
  cursor: pointer;
  margin-bottom: 10px;
}

.add-cow-form label {
  display: block;
  margin-bottom: 10px;
}
